<div id="index-cover", class="container-fluid">
  <div class="row">
    <div class="col-lg-6 text-center">
      <p id="qr-area"><h4><%= t ".intruction" %></h4><br><br>
        <%= image_tag @qr %>
      </p>
    </div>
    <div class="col-lg-6 text-center">
      <p id="qr-area">
        <h4><%= t ".start" %></h4><br><br>
        <%= link_to t(".btn_start"), deal_path, {class: "btn btn-success btn-lg" , id: "startgame-btn"} %>
      </p>
    </div>
  </div>
</div>
