var bg_col_1 = document.getElementById("bg-col-1");
var bg_col_2 = document.getElementById("bg-col-2");
var bg_col_3 = document.getElementById("bg-col-3");
var bg_col_4 = document.getElementById("bg-col-4");
var bg_col_5 = document.getElementById("bg-col-5");

var deal_area = document.getElementById("deal_num");
var button_random = document.createElement("div");
button_random.className = "btn-number-deal row";
var random_val = document.createTextNode("<%= escape_javascript(render plain: @deal[:deal].last) %>");
button_random.appendChild(random_val);

var random_val_int = <%= escape_javascript(render plain: @deal[:deal].last) %>

switch (true){
  case (random_val_int < 16):
    bg_col_1.appendChild(button_random);
  break;
  case (random_val_int < 31):
    bg_col_2.appendChild(button_random);
  break;
  case (random_val_int < 46):
    bg_col_3.appendChild(button_random);
  break;
  case (random_val_int < 61):
    bg_col_4.appendChild(button_random);
  break;
  case (random_val_int < 76):
    bg_col_5.appendChild(button_random);
  break;
}

deal_area.innerHTML = "<button class='btn-number-deal-current'><%= escape_javascript(render plain: @deal[:deal].last) %></button>";

var btnDeal = document.getElementById("deal_btn");
var endStatus = document.getElementById("end_status");
if("<%= escape_javascript(render plain: @deal[:deal].length) %>" == "75"){
	btnDeal.disabled = true;
	endStatus.innerHTML = "Game had dealed all of 75 numbers. The end !!!";
}