<div class="col-lg-8 text-center">
<div id="all-number" class="text-center">
<h4>Choose number to speak</h4>
<% 0.upto(74) do |i| %>
  <%= form_tag({controller: "deal", action: "add"}, remote: true, method: "get", id: "form-number") do %>
    <%= hidden_field_tag(:number, @all_numbers[i]) %>
    <%= submit_tag(@all_numbers[i], id: "btn-number-#{i}", onclick: "changeStyle(this.id);", class: "btn-number") %>
  <% end %>
<% end %>
</div>
<p id="qr-area">
  <h4>Please use your smartphone's qr-code-reader to access game</h4>
    <%= image_tag @qr %>
</p>
</div>

<div class="col-lg-4">
	<h3 class="text-center"> Events </h3>
	<div id="log_event">
	</div>
</div