<div class="col-lg-3 text-center"  id="div-deal-action">
  <div class="text-center" style="height: 40%;">
    <h4 class="text-center">Deal number to speak</h4>
    <%= button_to "DEAL", { action: "create" }, { id: "deal_btn", remote: true, method: "post", class: "btn btn-primary btn-lg"} %>
    <div id="end_status"></div>
  </div>
  <p id="qr-area">
  <h4>Please use your smartphone's qr-code-reader to access game</h4>
  <%= image_tag @qr %>
  </p>
</div>
<div class="col-lg-6" id="div-deal-area">
  <h4 class="text-center">Random numbers</h4>
  <h4>Current dealing number here:</h4>
  <div id="deal_num" style="height: 8%;">
    <% unless @current_number.nil? %>
      <button class="btn-number-deal"><%= @current_number %></button>
    <% end %>
  </div>
  <h4>Numbers you have dealed:</h4>
  <div id="random_nums" style="height: 75%;">
    <% unless @dealed_numbers.empty? 
      @dealed_numbers.each {|element| %>
        <button class="btn-number-deal"><%= element %></button>
      <% } 
      end %>
  </div>
</div>

<div class="col-lg-3" id="div-events">
  <h4 class="text-center"> Events </h4>
  <div id="log_event">
  </div>
</div
