// Place all the styles related to the deal controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-number{
	border: 0px;
	background: transparent;
	background-image : url(image-path('circle_green.png'));
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	text-align: center;
}

.btn-number-deal-current{
	border: 0px;
	width: 100px;
	height: 100px;
	text-align: center;
	color: red;
	margin-top: 3px;
	margin-left: 3px;
	font-size: 300%;
	background: #F0FAD9;
  border-radius: 50%;
  margin-bottom: 30px;
}

.btn-number-deal{	
	width: 50px;
	height: 50px;
	font-size: 150%;
	text-align: center;
	padding-top: 10px;
	color: white;
	margin-top: 3px;
	margin-left: 3px;
	background: #3C4C80;
  border-radius: 50%;
  margin-bottom: 10px;
}

.btn-number-ready{
	border: 0px;
	text-align: center;
	color: red;
	margin-top: 3px;
	margin-left: 3px;
	font-size: 300%;
	background: #F0FAD9;
  margin-bottom: 30px;
  min-height: 100px;
}

.btn-none-effect{
	border: 0px;
	background: transparent;
	text-align: center;
	width: 40px;
	height: 40px;
}

.col_title{
	padding-left: 30px;
	font-size: 250%;	
	font-weight: bold;
}

#form-number{
	width : 40px;
	height: 40px;
	text-align: center;
	
}

#div-qr{
	margin-left: 10px;
	margin-top: 10px;
	float: left;
}

#all-number{
	width : 100%;
	float: left;
	margin-bottom: 25px;
}

#deal-screen{
	margin-top:1%;
}

#div-deal-area {
	height: 100%;
}

#div-events {
	background-color: #F0FAD9;
	height: 100%;
	min-height: 640px;
}

#div-events > #title{
	text-align: center;
	color: #ffffff;
	background-color: #3fb8af;
	font-size: 150%;
	padding: 10px;
}

#random_nums{
	background-color: #F0FAD9;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

@media (min-width: 768px){
  .five-cols .col-md-1,
  .five-cols .col-sm-1,
  .five-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
  }
}

@media (min-width: 992px) {
  .five-cols .col-md-1,
  .five-cols .col-sm-1,
  .five-cols .col-lg-1 {
    width: 20%;
    *width: 20%;
  }
}

