// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-image : url(image-path('background-bingo.jpg'));
	background-repeat: no-repeat;
	background-size: cover;
	width : 100%;
	height: 100%;
}

a {
	float: left;
	margin-left: 300px;
}