// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#index-cover {
	background-image : url(image-path('background-bingo.jpg'));
	background-repeat: no-repeat;
	background-size: cover;
	width : 100%;
	height: 100%;
}

#newgame-img {
	float: left;
	margin-left: 400px;
	margin-top: 10px;
	width : 400px;
	height: 400px;
}

footer {
	margin-bottom: 20px;
}